{% extends 'base.html' %}

{% block extra_css %}
<style>
    textarea {
        font-family:monospace;
    }
</style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <form>
            <fieldset disabled>
                <div class="form-group row">
                    <div class="col col-8">
                        {{ addform.name.label }}: {{ addform.name }}
                    </div>
                    <div class="col col-4">
                        {{ addform.user.label }}: {{ addform.user }}
                    </div>
                </div>
                {% load pygmentify_tags %}
                <link rel="stylesheet" href="{% pygmentify_css %}">
                {% pygmentify %}
                <div class="form-group row">
                    <div class="col">
                        <pre class="python">{{ addform.code.label }}: {{ addform.code }}</pre>
                    </div>
                </div>
                {% endpygmentify %}
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}